In [27]:
import pandas as pd 
import pymysql
import getpass
from sqlalchemy import create_engine

In [28]:
password= getpass.getpass()

In [29]:
db = "vanguard"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+db
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/vanguard)

In [30]:
url2='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt'

In [31]:
df_variation= pd.read_csv(url2)

In [32]:
from sqlalchemy import text
import pandas as pd

# Ensure 'engine' is defined before this block
with engine.connect() as connection:
    txt = '''
        SELECT *
        FROM customer_data_cleaned
    '''
    
    # Prepare the SQL query
    query = text(txt)
    
    # Execute the query and fetch all results
    result = connection.execute(query)
    
    # Convert to DataFrame using column names from result metadata
    df_customer = pd.DataFrame(result.fetchall(), columns=result.keys())

In [33]:
df_customer.isnull().sum()

client_id            0
clnt_age            15
gender               0
clnt_tenure_yr      14
clnt_tenure_mnth    14
num_accts           14
calls_6_mnth        14
logons_6_mnth       14
balance             14
dtype: int64

In [34]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_age          70594 non-null  object
 2   gender            70609 non-null  object
 3   clnt_tenure_yr    70595 non-null  float64
 4   clnt_tenure_mnth  70595 non-null  float64
 5   num_accts         70595 non-null  float64
 6   calls_6_mnth      70595 non-null  float64
 7   logons_6_mnth     70595 non-null  float64
 8   balance           70595 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 4.8+ MB

In [35]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT 
                date_time,
                client_id,
                visitor_id,
                visit_id,
                CASE 
                    WHEN process_step = 'start' THEN 0
                    WHEN process_step = 'step_1' THEN 1
                    WHEN process_step = 'step_2' THEN 2
                    WHEN process_step = 'step_3' THEN 3
                    WHEN process_step = 'confirm' THEN 4
                    ELSE NULL
                END AS process_id,
                process_step
            FROM digital_footprint;

        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_digital_footprint= pd.DataFrame(result.all())

In [36]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT client_id,visit_id,process_step,
            CASE 
                    WHEN process_step = 'start' THEN 0
                    WHEN process_step = 'step_1' THEN 1
                    WHEN process_step = 'step_2' THEN 2
                    WHEN process_step = 'step_3' THEN 3
                    WHEN process_step = 'confirm' THEN 4
                    ELSE NULL
                END AS process_id,
            num_visits,completed,confirm_count
            FROM process_steps
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_process_step= pd.DataFrame(result.all())

In [37]:
import pandas as pd

pross_merged_df = pd.merge(df_digital_footprint, df_variation, on='client_id', how='left')

In [38]:
import pandas as pd

# Convert date_time to datetime if not already
pross_merged_df['date_time'] = pd.to_datetime(pross_merged_df['date_time'])

In [39]:

# Sort by visit_id and date_time to ensure order of steps is correct
df_sorted_pross = pross_merged_df.sort_values(by=['visit_id', 'date_time'])

In [40]:
 #Add an "error" column and default to False
df_sorted_pross['error'] = False

# Group by visit_id
for visit_id, group in df_sorted_pross.groupby('visit_id'):
    prev_process_id = -1
    for i in group.index:
        current_process_id = df_sorted_pross.loc[i, 'process_id']
        if current_process_id < prev_process_id:
            df_sorted_pross.loc[i, 'error'] = True  # Flag error
        prev_process_id = current_process_id

In [41]:
df_sorted_pross.nunique()

date_time       629363
client_id       120157
visitor_id      130236
visit_id        158095
process_id           5
process_step         5
Variation            2
error                2
dtype: int64

In [42]:
df_sorted_pross.head()

,date_time,client_id,visitor_id,visit_id,process_id,process_step,Variation,error
107971,2017-04-26 13:22:17,3561384,451664975_1722933822,100012776_37918976071_457913,4,confirm,Test,False
107970,2017-04-26 13:23:09,3561384,451664975_1722933822,100012776_37918976071_457913,4,confirm,Test,False
443991,2017-06-04 01:07:29,9056452,306992881_89423906595,1000165_4190026492_760066,0,start,NaN,False
443990,2017-06-04 01:07:32,9056452,306992881_89423906595,1000165_4190026492_760066,1,step_1,NaN,False
443989,2017-06-04 01:07:56,9056452,306992881_89423906595,1000165_4190026492_760066,2,step_2,NaN,False

In [43]:
df_process_step.head()

,client_id,visit_id,process_step,process_id,num_visits,completed,confirm_count
0,9988021,781255054_21935453173_531117,step_3,3,3,0,0
1,9988021,781255054_21935453173_531117,step_2,2,3,0,0
2,9988021,781255054_21935453173_531117,step_1,1,1,0,0
3,9988021,781255054_21935453173_531117,start,0,1,0,0
4,8320017,960651974_70596002104_312201,confirm,4,1,1,1

In [44]:
from sqlalchemy import text
''' 

with engine.connect()as connection:
  # Insert into table, creating or appending as needed
    df_sorted_pross.to_sql(name='sorted_process_step', con=engine, if_exists='replace', index=False)
'''

" \n\nwith engine.connect()as connection:\n  # Insert into table, creating or appending as needed\n    df_sorted_pross.to_sql(name='sorted_process_step', con=engine, if_exists='replace', index=False)\n"

In [45]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''SELECT 
    sp.date_time,
    sp.client_id,
    sp.visitor_id,
    sp.visit_id,
    CASE
        WHEN sp.process_step = 'start' THEN 0
        WHEN sp.process_step = 'step_1' THEN 1
        WHEN sp.process_step = 'step_2' THEN 2
        WHEN sp.process_step = 'step_3' THEN 3
        WHEN sp.process_step = 'confirm' THEN 4
        ELSE NULL
    END AS process_id,
    sp.Variation,
    sp.process_step,
    ps.num_visits,
    ps.confirm_count,
    ps.completed,
    ci.time_spent_seconds,
    sp.error AS step_error
FROM sorted_process_step sp
JOIN process_steps ps 
    ON sp.visit_id = ps.visit_id AND sp.process_step = ps.process_step
JOIN client_interactions ci 
    ON ps.client_id = ci.client_id AND ps.process_step = ci.process_step;
               
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    client_int_clean= pd.DataFrame(result.all())

In [46]:
client_int_clean.nunique()

date_time             555082
client_id             110822
visitor_id            119382
visit_id              142135
process_id                 5
Variation                  2
process_step               5
num_visits                25
confirm_count             13
completed                  2
time_spent_seconds      2309
step_error                 2
dtype: int64

In [56]:
client_int_clean

,date_time,client_id,visitor_id,visit_id,process_id,Variation,process_step,num_visits,confirm_count,completed,time_spent_seconds,step_error
0,2017-04-09 11:30:10,4823947,611052344_43146965242,100057941_88477660212_944512,0,Control,start,1,0,0,30.0,0
1,2017-04-09 11:30:40,4823947,611052344_43146965242,100057941_88477660212_944512,1,Control,step_1,2,0,0,37.0,0
2,2017-04-09 11:30:40,4823947,611052344_43146965242,100057941_88477660212_944512,1,Control,step_1,2,0,0,70.0,0
3,2017-04-09 11:31:50,4823947,611052344_43146965242,100057941_88477660212_944512,2,Control,step_2,2,0,0,26.0,0
4,2017-04-09 11:31:50,4823947,611052344_43146965242,100057941_88477660212_944512,2,Control,step_2,2,0,0,64.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1514625,2017-04-15 18:45:46,408685,935090883_69553008697,998807163_35383388420_162108,0,Test,start,2,0,0,9.0,0
1514626,2017-04-15 18:49:50,408685,935090883_69553008697,998807163_35383388420_162108,0,Test,start,2,0,0,7.0,1
1514627,2017-04-15 18:49:50,408685,935090883_69553008697,998807163_35383388420_162108,0,Test,start,2,0,0,9.0,1
1514628,2017-04-22 12:09:34,1555244,702427068_30115294664,999009481_48603974844_436498,1,None,step_1,2,0,0,51.0,0
1514629,2017-04-22 12:13:36,1555244,702427068_30115294664,999009481_48603974844_436498,1,None,step_1,2,0,0,51.0,1

In [47]:
cust_merge_df= pd.merge(df_variation,df_customer, on='client_id',how='left')

In [48]:
cust_merge_df.head()

,client_id,Variation,clnt_age,gender,clnt_tenure_yr,clnt_tenure_mnth,num_accts,calls_6_mnth,logons_6_mnth,balance
0,9988021,Test,79.0,U,5.0,64.0,2.0,1.0,4.0,189023.86
1,8320017,Test,34.5,M,22.0,274.0,2.0,5.0,8.0,36001.90
2,4033851,Control,63.5,M,12.0,149.0,2.0,5.0,8.0,142642.26
3,1982004,Test,44.5,U,6.0,80.0,2.0,1.0,4.0,30231.76
4,9294070,Control,29.0,U,5.0,70.0,2.0,0.0,3.0,34254.54

In [49]:
client_int_clean.head()

,date_time,client_id,visitor_id,visit_id,process_id,Variation,process_step,num_visits,confirm_count,completed,time_spent_seconds,step_error
0,2017-04-09 11:30:10,4823947,611052344_43146965242,100057941_88477660212_944512,0,Control,start,1,0,0,30.0,0
1,2017-04-09 11:30:40,4823947,611052344_43146965242,100057941_88477660212_944512,1,Control,step_1,2,0,0,37.0,0
2,2017-04-09 11:30:40,4823947,611052344_43146965242,100057941_88477660212_944512,1,Control,step_1,2,0,0,70.0,0
3,2017-04-09 11:31:50,4823947,611052344_43146965242,100057941_88477660212_944512,2,Control,step_2,2,0,0,26.0,0
4,2017-04-09 11:31:50,4823947,611052344_43146965242,100057941_88477660212_944512,2,Control,step_2,2,0,0,64.0,0

In [50]:
# Completion = user has at least one 'confirm' step
completion = client_int_clean[client_int_clean['process_step'] == 'confirm'][['client_id', 'Variation']].drop_duplicates()

# Count unique users per variation
users_by_group = client_int_clean[['client_id', 'Variation']].drop_duplicates().groupby('Variation').count()
completed_by_group = completion.groupby('Variation').count()

# Completion rate
completion_rate = (completed_by_group / users_by_group) * 100
completion_rate.columns = ['Completion Rate (%)']
print(completion_rate)

           Completion Rate (%)
Variation
Control               6.624053
Test                 10.991472

In [51]:
# Sort for time differences
df_sorted = client_int_clean.sort_values(by=['client_id', 'visit_id', 'date_time'])

# Calculate time difference between steps
df_sorted['time_diff'] = df_sorted.groupby(['client_id', 'visit_id'])['date_time'].diff().dt.total_seconds()

# Average time per step
avg_time_step = df_sorted.groupby('process_step')['time_diff'].mean().round(2)
print(avg_time_step)

process_step
confirm    91.91
start      25.08
step_1     18.07
step_2     23.72
step_3     65.52
Name: time_diff, dtype: float64

In [53]:
# Error = step number goes backward
df_sorted['step_num'] = df_sorted['process_step'].str.extract('(\d+)').fillna(0).astype(int)
df_sorted['step_diff'] = df_sorted.groupby(['client_id', 'visit_id'])['step_num'].diff()

# Count errors
errors = df_sorted[df_sorted['step_diff'] < 0]
error_rate = errors.groupby('Variation')['client_id'].nunique() / client_int_clean.groupby('Variation')['client_id'].nunique()
print("Error Rate by Variation:")
print(error_rate)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\samya\AppData\Local\Temp\ipykernel_11844\719569705.py:2: SyntaxWarning: invalid escape sequence '\d'
  df_sorted['step_num'] = df_sorted['process_step'].str.extract('(\d+)').fillna(0).astype(int)

Error Rate by Variation:
Variation
Control    0.315104
Test       0.418320
Name: client_id, dtype: float64

In [68]:
client_int_clean['Variation']

0          Control
1          Control
2          Control
3          Control
4          Control
            ...
1514625       Test
1514626       Test
1514627       Test
1514628       None
1514629       None
Name: Variation, Length: 1514630, dtype: object

In [61]:
comp_by_group=  df_sorted.groupby("visit_id")['confirm_count'].sum()
users_by_group = df_sorted.groupby('visit_id')['client_id'].nunique()

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

def test_completion_rate(complete_counts, total_counts, alpha=0.05):
    """
    Perform a one-tailed z-test for proportions to compare completion rates between Test and Control groups.

    Parameters:
    complete_counts (list): Number of completions in each group [Test, Control]
    total_counts (list): Total number of users in each group [Test, Control]
    alpha (float): Significance level (default is 0.05)

    Returns:
    dict: A dictionary containing the z-statistic, p-value, and interpretation of the result
    """
    # Perform the z-test for proportions
    stat, pval = proportions_ztest(count=complete_counts, nobs=total_counts, alternative='larger')

    # Interpretation of the result
    if pval < alpha:
        interpretation = "Statistically significant difference. Reject the null hypothesis."
    else:
        interpretation = "Not statistically significant. Cannot reject the null."

    # Return the results
    return {    
        'z_statistic': stat,
        'p_value': pval,
        'interpretation': interpretation
    }


complete_counts = [62, 49]  # Number of completions in Test and Control groups
total_counts = [100, 100]   # Total number of users in Test and Control groups

result = test_completion_rate(complete_counts, total_counts)
print(f"Z-Statistic: {result['z_statistic']:.3f}, P-value: {result['p_value']:.4f}")
print(result['interpretation'])

Z-Statistic: 1.850, P-value: 0.0322
✅ Statistically significant difference. Reject the null hypothesis.

In [78]:
rate_diff = (completion_rate.loc['Test'].values[0] - completion_rate.loc['Control'].values[0])

print(f"Observed Completion Rate Increase: {rate_diff:.2f}%")
if rate_diff >= 5:
    print("Improvement exceeds the 5% threshold. Cost-effective.")
else:
    print("Improvement does NOT exceed the 5% threshold.")

Observed Completion Rate Increase: 4.37%
Improvement does NOT exceed the 5% threshold.