In [ ]:
import pandas as pd 
import pymysql
import getpass
from sqlalchemy import create_engine

In [ ]:
password= getpass.getpass()

In [ ]:
db = "vanguard"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+db
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/vanguard)

In [ ]:
url2='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt'

In [ ]:
df_variation= pd.read_csv(url2)

In [ ]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT *
            FROM customer_data_cleaned
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_customer= pd.DataFrame(result.all())

In [ ]:
df_customer

,client_id,clnt_age,gender,clnt_tenure_yr,clnt_tenure_mnth,num_accts,calls_6_mnth,logons_6_mnth,balance
0,169,47.5,M,21.0,262.0,2.0,4.0,4.0,501570.72
1,555,29.5,U,3.0,46.0,2.0,2.0,6.0,25454.66
2,647,57.5,M,12.0,151.0,2.0,0.0,4.0,30525.80
3,722,59.5,F,11.0,143.0,2.0,1.0,1.0,22466.17
4,934,51.0,F,9.0,109.0,2.0,0.0,3.0,32522.88
...,...,...,...,...,...,...,...,...,...
70604,9999400,28.5,U,7.0,86.0,2.0,0.0,3.0,51787.04
70605,9999626,35.0,M,9.0,113.0,2.0,6.0,9.0,36642.88
70606,9999729,31.0,F,10.0,124.0,3.0,6.0,9.0,107059.74
70607,9999832,49.0,F,23.0,281.0,2.0,1.0,4.0,431887.61
70608,9999839,28.5,F,13.0,160.0,2.0,3.0,3.0,67425.35

In [ ]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT *
            FROM digital_footprint
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_digital_footprint= pd.DataFrame(result.all())

In [ ]:
df_digital_footprint

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
744640,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [ ]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT client_id,visit_id,process_step,num_visits,completed,confirm_count
            FROM process_steps
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_process_step= pd.DataFrame(result.all())

In [ ]:
df_process_step.head(60)

,client_id,visit_id,process_step,num_visits,completed,confirm_count
0,9988021,781255054_21935453173_531117,step_3,3,0,0
1,9988021,781255054_21935453173_531117,step_2,3,0,0
2,9988021,781255054_21935453173_531117,step_1,1,0,0
3,9988021,781255054_21935453173_531117,start,1,0,0
4,8320017,960651974_70596002104_312201,confirm,1,1,1
5,8320017,960651974_70596002104_312201,step_3,1,0,0
6,8320017,960651974_70596002104_312201,step_2,1,0,0
7,8320017,960651974_70596002104_312201,step_1,1,0,0
8,8320017,960651974_70596002104_312201,start,1,0,0
9,4033851,949661017_22392791362_127391,confirm,3,1,3
10,4033851,949661017_22392791362_127391,step_3,4,0,0
11,4033851,949661017_22392791362_127391,step_2,4,0,0
12,4033851,949661017_22392791362_127391,step_1,2,0,0
13,4033851,949661017_22392791362_127391,start,2,0,0
14,1982004,132494692_73738638511_70823,confirm,1,1,1
15,1982004,132494692_73738638511_70823,step_3,1,0,0
16,1982004,132494692_73738638511_70823,step_2,1,0,0
17,1982004,132494692_73738638511_70823,step_1,1,0,0
18,1982004,132494692_73738638511_70823,start,1,0,0
19,9294070,116640698_27328181095_188045,start,2,0,0
20,9466803,812185460_4263902139_352107,start,3,0,0
21,9466803,812185460_4263902139_352107,step_2,1,0,0
22,9466803,812185460_4263902139_352107,step_1,2,0,0
23,3170143,758001412_25057963943_219559,confirm,1,1,1
24,3170143,758001412_25057963943_219559,step_3,1,0,0
25,3170143,758001412_25057963943_219559,step_2,1,0,0
26,3170143,758001412_25057963943_219559,step_1,1,0,0
27,3170143,758001412_25057963943_219559,start,1,0,0
28,6651403,754106292_61370647593_160929,confirm,1,1,1
29,6651403,754106292_61370647593_160929,step_3,2,0,0
30,6651403,754106292_61370647593_160929,step_2,2,0,0
31,6651403,754106292_61370647593_160929,step_1,1,0,0
32,6651403,754106292_61370647593_160929,start,1,0,0
33,5887227,458489157_53226123692_778999,confirm,1,1,1
34,5887227,458489157_53226123692_778999,step_3,1,0,0
35,5887227,458489157_53226123692_778999,step_2,1,0,0
36,5887227,458489157_53226123692_778999,step_1,1,0,0
37,5887227,458489157_53226123692_778999,start,3,0,0
38,2105948,284161492_75966778593_698992,confirm,1,1,1
39,2105948,284161492_75966778593_698992,step_3,2,0,0
40,2105948,284161492_75966778593_698992,step_2,2,0,0
41,2105948,284161492_75966778593_698992,step_1,1,0,0
42,2105948,284161492_75966778593_698992,start,1,0,0
43,438567,711884648_43943594307_585328,step_1,1,0,0
44,438567,711884648_43943594307_585328,start,3,0,0
45,2519971,428599802_30402877972_724989,confirm,2,1,2
46,9814849,912594178_11107066778_946103,confirm,1,1,1
47,9814849,912594178_11107066778_946103,step_3,1,0,0
48,9814849,912594178_11107066778_946103,step_2,1,0,0
49,9814849,912594178_11107066778_946103,step_1,1,0,0
50,9814849,912594178_11107066778_946103,start,2,0,0
51,5407849,370129048_76114952835_698370,confirm,1,1,1
52,5407849,370129048_76114952835_698370,step_3,1,0,0
53,5407849,370129048_76114952835_698370,step_2,1,0,0
54,5407849,370129048_76114952835_698370,step_1,2,0,0
55,5407849,370129048_76114952835_698370,start,3,0,0
56,7286739,841652923_56424358687_156740,step_3,1,0,0
57,7286739,841652923_56424358687_156740,step_2,2,0,0
58,7286739,841652923_56424358687_156740,step_1,5,0,0
59,7286739,841652923_56424358687_156740,start,4,0,0

In [ ]:
import pandas as pd

# Assume your two DataFrames are called df_variation and df_visits

# Merge the two DataFrames on 'visit_id'
merged_df = pd.merge(df_digital_footprint, df_variation, on='client_id', how='left')

# Optional: Check the result
print(merged_df.head())

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time Variation
0  2017-04-17 15:27:07      Test
1  2017-04-17 15:26:51      Test
2  2017-04-17 15:19:22      Test
3  2017-04-17 15:19:13      Test
4  2017-04-17 15:18:04      Test

In [ ]:
merged_df.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,Test
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,Test
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,Test
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,Test
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,Test
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,Test
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,Test
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,Control
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,Control
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,Control
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,Control
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,Control
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12,Control
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04,Control
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26,Control
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26,Control
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25,Control
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25,Control
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,Test
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09,Test
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01,Test
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46,Test
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42,Test
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28,Control
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13,Control
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45,Test
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16,Test
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07,Test
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05,Test
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58,Test
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51,Test
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44,Test
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03,Test
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22,Test
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14,Test
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02,Test
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39,Control
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03,Control
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55,Control
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32,Control
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:28:44,Control
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,2017-04-04 17:28:35,Control
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,2017-04-04 17:28:18,Control
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34,Test
50,5887227,448202785_26003228044,458489157_53226123692_778999,step_3,2017-04-05 14:50:41,Test
51,5887227,448202785_26003228044,458489157_53226123692_778999,step_2,2017-04-05 14:49:03,Test
52,5887227,448202785_26003228044,458489157_53226123692_778999,step_1,2017-04-05 14:47:36,Test
53,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:46:57,Test
54,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:43,Test
55,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:14,Test
56,2105948,111894218_79248359000,284161492_75966778593_698992,confirm,2017-04-05 14:04:56,Control
57,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 14:00:00,Control
58,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:59:46,Control
59,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 13:58:32,Control

In [ ]:
import pandas as pd

# Ensure date_time is a datetime object
merged_df['date_time'] = pd.to_datetime(merged_df['date_time'])

# Sort the DataFrame to maintain proper chronological order within each visit
merged_df = merged_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

# Compute the time difference to the next step
merged_df['time_spent'] = merged_df.groupby(['client_id', 'visit_id'])['date_time'].shift(-1) - merged_df['date_time']

# Drop rows where time_spent is NaT (i.e., no subsequent step within the visit)
merged_df = merged_df.dropna(subset=['time_spent'])

# Convert time delta to seconds
merged_df['time_spent_seconds'] = merged_df['time_spent'].dt.total_seconds()

# Optional: ensure time spent is non-negative (should be redundant with proper sorting)
merged_df = merged_df[merged_df['time_spent_seconds'] >= 0]

In [ ]:
merged_df.head(60)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_spent_seconds
283823,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,NaN,9.0
283822,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,NaN,46.0
283821,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,NaN,94.0
283820,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,NaN,64.0
620520,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:26:55,NaN,948.0
439053,546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29,NaN,10.0
439052,546,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39,NaN,13.0
439051,546,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52,NaN,87.0
439050,546,475037402_89828530214,731811517_9330176838_94847,step_3,2017-06-17 10:05:19,NaN,23.0
71583,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56,Test,7.0
71582,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03,Test,32.0
71581,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35,Test,99.0
71580,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14,Test,20.0
137375,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,Test,7.0
137374,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,Test,18.0
137373,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,Test,189.0
137372,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,Test,163.0
244053,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:50:10,NaN,10.0
244052,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:50:20,NaN,36.0
244051,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:50:56,NaN,16.0
244050,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:51:12,NaN,304.0
244049,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,NaN,2.0
244048,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:56:18,NaN,19.0
244047,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:56:37,NaN,50.0
244046,722,919259913_64837298108,984487154_55831795985_521110,step_3,2017-04-19 14:57:27,NaN,162.0
440223,786,439747392_30293505155,640294664_79662229470_499394,start,2017-06-01 11:00:22,NaN,58.0
440222,786,439747392_30293505155,640294664_79662229470_499394,start,2017-06-01 11:01:20,NaN,6.0
440221,786,439747392_30293505155,640294664_79662229470_499394,step_1,2017-06-01 11:01:26,NaN,122.0
440220,786,439747392_30293505155,640294664_79662229470_499394,step_2,2017-06-01 11:03:28,NaN,40.0
440219,786,439747392_30293505155,640294664_79662229470_499394,step_3,2017-06-01 11:04:08,NaN,86.0
587148,805,831412807_82548325803,451173196_11661340552_563345,start,2017-06-15 19:09:13,NaN,6.0
587147,805,831412807_82548325803,451173196_11661340552_563345,step_1,2017-06-15 19:09:19,NaN,7.0
587146,805,831412807_82548325803,451173196_11661340552_563345,step_2,2017-06-15 19:09:26,NaN,115.0
587145,805,831412807_82548325803,451173196_11661340552_563345,step_2,2017-06-15 19:11:21,NaN,7.0
587206,805,831412807_82548325803,72221519_52513154978_430287,start,2017-06-17 19:23:17,NaN,3.0
587138,805,831412807_82548325803,905546080_75813398358_250101,start,2017-06-08 01:10:29,NaN,80.0
499877,832,645971208_10952400740,704999523_65579948030_431837,start,2017-06-16 10:38:38,NaN,9.0
499876,832,645971208_10952400740,704999523_65579948030_431837,step_1,2017-06-16 10:38:47,NaN,32.0
499875,832,645971208_10952400740,704999523_65579948030_431837,step_2,2017-06-16 10:39:19,NaN,11.0
499874,832,645971208_10952400740,704999523_65579948030_431837,step_1,2017-06-16 10:39:30,NaN,19.0
499873,832,645971208_10952400740,704999523_65579948030_431837,step_2,2017-06-16 10:39:49,NaN,29.0
499872,832,645971208_10952400740,704999523_65579948030_431837,step_3,2017-06-16 10:40:18,NaN,34.0
62247,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:36:30,Test,32.0
62246,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:37:02,Test,82.0
62245,934,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:38:24,Test,28.0
131606,1028,42237450_62128060588,557292053_87239438319_391157,start,2017-04-08 18:51:28,Control,49.0
131605,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:17,Control,63.0
131604,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:53:20,Control,9.0
131603,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:29,Control,275.0
131602,1028,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:04,Control,111.0
131601,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:59:55,Control,20.0
131600,1028,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 19:00:15,Control,2.0
131599,1028,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 19:00:17,Control,9.0
699442,1039,637213403_33482244512,621771101_68048173682_933803,start,2017-06-02 01:00:05,NaN,15.0
699441,1039,637213403_33482244512,621771101_68048173682_933803,step_1,2017-06-02 01:00:20,NaN,42.0
699440,1039,637213403_33482244512,621771101_68048173682_933803,step_2,2017-06-02 01:01:02,NaN,102.0
699439,1039,637213403_33482244512,621771101_68048173682_933803,step_3,2017-06-02 01:02:44,NaN,48.0
236054,1186,446844663_31615102958,795373564_99931517312_810896,start,2017-04-08 18:05:02,Control,11.0
236053,1186,446844663_31615102958,795373564_99931517312_810896,step_1,2017-04-08 18:05:13,Control,11.0
13269,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,Control,33.0

In [ ]:
merged_df = merged_df.drop(columns=['time_spent', 'time_spent_minutes'], errors='ignore')