In [114]:
import pandas as pd 
import pymysql
import getpass
from sqlalchemy import create_engine

In [115]:
password= getpass.getpass()

In [116]:
db = "vanguard"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+db
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/vanguard)

In [117]:
url2='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt'

In [118]:
df_variation= pd.read_csv(url2)

In [119]:
from sqlalchemy import text
import pandas as pd

# Ensure 'engine' is defined before this block
with engine.connect() as connection:
    txt = '''
        SELECT *
        FROM customer_data_cleaned
    '''
    
    # Prepare the SQL query
    query = text(txt)
    
    # Execute the query and fetch all results
    result = connection.execute(query)
    
    # Convert to DataFrame using column names from result metadata
    df_customer = pd.DataFrame(result.fetchall(), columns=result.keys())

In [139]:
df_customer.isnull().sum()

client_id            0
clnt_age            15
gender               0
clnt_tenure_yr      14
clnt_tenure_mnth    14
num_accts           14
calls_6_mnth        14
logons_6_mnth       14
balance             14
dtype: int64

In [120]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_age          70594 non-null  object
 2   gender            70609 non-null  object
 3   clnt_tenure_yr    70595 non-null  float64
 4   clnt_tenure_mnth  70595 non-null  float64
 5   num_accts         70595 non-null  float64
 6   calls_6_mnth      70595 non-null  float64
 7   logons_6_mnth     70595 non-null  float64
 8   balance           70595 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 4.8+ MB

In [121]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT 
                date_time,
                client_id,
                visitor_id,
                visit_id,
                CASE 
                    WHEN process_step = 'start' THEN 0
                    WHEN process_step = 'step_1' THEN 1
                    WHEN process_step = 'step_2' THEN 2
                    WHEN process_step = 'step_3' THEN 3
                    WHEN process_step = 'confirm' THEN 4
                    ELSE NULL
                END AS process_id,
                process_step
            FROM digital_footprint;

        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_digital_footprint= pd.DataFrame(result.all())

In [122]:
df_digital_footprint.head(60)

,date_time,client_id,visitor_id,visit_id,process_id,process_step
0,2017-04-17 15:27:07,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3
1,2017-04-17 15:26:51,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2
2,2017-04-17 15:19:22,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3
3,2017-04-17 15:19:13,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2
4,2017-04-17 15:18:04,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3
5,2017-04-17 15:17:15,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2
6,2017-04-17 15:17:01,9988021,580560515_7732621733,781255054_21935453173_531117,1,step_1
7,2017-04-17 15:16:22,9988021,580560515_7732621733,781255054_21935453173_531117,0,start
8,2017-04-05 13:10:05,8320017,39393514_33118319366,960651974_70596002104_312201,4,confirm
9,2017-04-05 13:09:43,8320017,39393514_33118319366,960651974_70596002104_312201,3,step_3
10,2017-04-05 13:08:40,8320017,39393514_33118319366,960651974_70596002104_312201,2,step_2
11,2017-04-05 13:08:24,8320017,39393514_33118319366,960651974_70596002104_312201,1,step_1
12,2017-04-05 13:08:06,8320017,39393514_33118319366,960651974_70596002104_312201,0,start
13,2017-04-05 12:29:03,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm
14,2017-04-05 12:29:01,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm
15,2017-04-05 12:28:52,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm
16,2017-04-05 12:26:08,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3
17,2017-04-05 12:24:43,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2
18,2017-04-05 12:24:12,4033851,762728880_76361333336,949661017_22392791362_127391,1,step_1
19,2017-04-05 12:24:04,4033851,762728880_76361333336,949661017_22392791362_127391,0,start
20,2017-04-05 12:10:26,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2
21,2017-04-05 12:10:26,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3
22,2017-04-05 12:10:25,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2
23,2017-04-05 12:10:25,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3
24,2017-04-17 12:02:42,1982004,618934751_10082078917,132494692_73738638511_70823,4,confirm
25,2017-04-17 12:01:09,1982004,618934751_10082078917,132494692_73738638511_70823,3,step_3
26,2017-04-17 12:00:01,1982004,618934751_10082078917,132494692_73738638511_70823,2,step_2
27,2017-04-17 11:59:46,1982004,618934751_10082078917,132494692_73738638511_70823,1,step_1
28,2017-04-17 11:59:42,1982004,618934751_10082078917,132494692_73738638511_70823,0,start
29,2017-04-17 11:16:28,9294070,489274391_63794562906,116640698_27328181095_188045,0,start
30,2017-04-17 11:16:13,9294070,489274391_63794562906,116640698_27328181095_188045,0,start
31,2017-04-16 13:24:45,9466803,97277031_5793723360,812185460_4263902139_352107,0,start
32,2017-04-16 13:24:16,9466803,97277031_5793723360,812185460_4263902139_352107,2,step_2
33,2017-04-16 13:24:07,9466803,97277031_5793723360,812185460_4263902139_352107,1,step_1
34,2017-04-16 13:24:05,9466803,97277031_5793723360,812185460_4263902139_352107,0,start
35,2017-04-16 13:21:58,9466803,97277031_5793723360,812185460_4263902139_352107,1,step_1
36,2017-04-16 13:21:51,9466803,97277031_5793723360,812185460_4263902139_352107,0,start
37,2017-04-04 18:41:44,3170143,837774974_91015515080,758001412_25057963943_219559,4,confirm
38,2017-04-04 18:41:03,3170143,837774974_91015515080,758001412_25057963943_219559,3,step_3
39,2017-04-04 18:38:22,3170143,837774974_91015515080,758001412_25057963943_219559,2,step_2
40,2017-04-04 18:38:14,3170143,837774974_91015515080,758001412_25057963943_219559,1,step_1
41,2017-04-04 18:38:02,3170143,837774974_91015515080,758001412_25057963943_219559,0,start
42,2017-04-04 17:38:39,6651403,387438258_49845138949,754106292_61370647593_160929,4,confirm
43,2017-04-04 17:34:03,6651403,387438258_49845138949,754106292_61370647593_160929,3,step_3
44,2017-04-04 17:33:55,6651403,387438258_49845138949,754106292_61370647593_160929,2,step_2
45,2017-04-04 17:31:32,6651403,387438258_49845138949,754106292_61370647593_160929,3,step_3
46,2017-04-04 17:28:44,6651403,387438258_49845138949,754106292_61370647593_160929,2,step_2
47,2017-04-04 17:28:35,6651403,387438258_49845138949,754106292_61370647593_160929,1,step_1
48,2017-04-04 17:28:18,6651403,387438258_49845138949,754106292_61370647593_160929,0,start
49,2017-04-05 14:52:34,5887227,448202785_26003228044,458489157_53226123692_778999,4,confirm
50,2017-04-05 14:50:41,5887227,448202785_26003228044,458489157_53226123692_778999,3,step_3
51,2017-04-05 14:49:03,5887227,448202785_26003228044,458489157_53226123692_778999,2,step_2
52,2017-04-05 14:47:36,5887227,448202785_26003228044,458489157_53226123692_778999,1,step_1
53,2017-04-05 14:46:57,5887227,448202785_26003228044,458489157_53226123692_778999,0,start
54,2017-04-05 14:45:43,5887227,448202785_26003228044,458489157_53226123692_778999,0,start
55,2017-04-05 14:45:14,5887227,448202785_26003228044,458489157_53226123692_778999,0,start
56,2017-04-05 14:04:56,2105948,111894218_79248359000,284161492_75966778593_698992,4,confirm
57,2017-04-05 14:00:00,2105948,111894218_79248359000,284161492_75966778593_698992,3,step_3
58,2017-04-05 13:59:46,2105948,111894218_79248359000,284161492_75966778593_698992,2,step_2
59,2017-04-05 13:58:32,2105948,111894218_79248359000,284161492_75966778593_698992,3,step_3

In [123]:
df_digital_footprint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744641 entries, 0 to 744640
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date_time     744641 non-null  object
 1   client_id     744641 non-null  int64
 2   visitor_id    744641 non-null  object
 3   visit_id      744641 non-null  object
 4   process_id    744641 non-null  int64
 5   process_step  744641 non-null  object
dtypes: int64(2), object(4)
memory usage: 34.1+ MB

In [124]:
from sqlalchemy import text


with engine.connect()as connection:
    txt = '''
            SELECT client_id,visit_id,process_step,
            CASE 
                    WHEN process_step = 'start' THEN 0
                    WHEN process_step = 'step_1' THEN 1
                    WHEN process_step = 'step_2' THEN 2
                    WHEN process_step = 'step_3' THEN 3
                    WHEN process_step = 'confirm' THEN 4
                    ELSE NULL
                END AS process_id,
            num_visits,completed,confirm_count
            FROM process_steps
        '''
        
        # Prepares the SQL query for execution using SQLAlchemy's `text()` method
    query = text(txt)
        
    # Executes the query on the connected database
    result = connection.execute(query)
        
    # Converts the result to a pandas DataFrame with appropriate column names
    df_process_step= pd.DataFrame(result.all())

In [125]:
df_process_step.head(60)

,client_id,visit_id,process_step,process_id,num_visits,completed,confirm_count
0,9988021,781255054_21935453173_531117,step_3,3,3,0,0
1,9988021,781255054_21935453173_531117,step_2,2,3,0,0
2,9988021,781255054_21935453173_531117,step_1,1,1,0,0
3,9988021,781255054_21935453173_531117,start,0,1,0,0
4,8320017,960651974_70596002104_312201,confirm,4,1,1,1
5,8320017,960651974_70596002104_312201,step_3,3,1,0,0
6,8320017,960651974_70596002104_312201,step_2,2,1,0,0
7,8320017,960651974_70596002104_312201,step_1,1,1,0,0
8,8320017,960651974_70596002104_312201,start,0,1,0,0
9,4033851,949661017_22392791362_127391,confirm,4,3,1,3
10,4033851,949661017_22392791362_127391,step_3,3,4,0,0
11,4033851,949661017_22392791362_127391,step_2,2,4,0,0
12,4033851,949661017_22392791362_127391,step_1,1,2,0,0
13,4033851,949661017_22392791362_127391,start,0,2,0,0
14,1982004,132494692_73738638511_70823,confirm,4,1,1,1
15,1982004,132494692_73738638511_70823,step_3,3,1,0,0
16,1982004,132494692_73738638511_70823,step_2,2,1,0,0
17,1982004,132494692_73738638511_70823,step_1,1,1,0,0
18,1982004,132494692_73738638511_70823,start,0,1,0,0
19,9294070,116640698_27328181095_188045,start,0,2,0,0
20,9466803,812185460_4263902139_352107,start,0,3,0,0
21,9466803,812185460_4263902139_352107,step_2,2,1,0,0
22,9466803,812185460_4263902139_352107,step_1,1,2,0,0
23,3170143,758001412_25057963943_219559,confirm,4,1,1,1
24,3170143,758001412_25057963943_219559,step_3,3,1,0,0
25,3170143,758001412_25057963943_219559,step_2,2,1,0,0
26,3170143,758001412_25057963943_219559,step_1,1,1,0,0
27,3170143,758001412_25057963943_219559,start,0,1,0,0
28,6651403,754106292_61370647593_160929,confirm,4,1,1,1
29,6651403,754106292_61370647593_160929,step_3,3,2,0,0
30,6651403,754106292_61370647593_160929,step_2,2,2,0,0
31,6651403,754106292_61370647593_160929,step_1,1,1,0,0
32,6651403,754106292_61370647593_160929,start,0,1,0,0
33,5887227,458489157_53226123692_778999,confirm,4,1,1,1
34,5887227,458489157_53226123692_778999,step_3,3,1,0,0
35,5887227,458489157_53226123692_778999,step_2,2,1,0,0
36,5887227,458489157_53226123692_778999,step_1,1,1,0,0
37,5887227,458489157_53226123692_778999,start,0,3,0,0
38,2105948,284161492_75966778593_698992,confirm,4,1,1,1
39,2105948,284161492_75966778593_698992,step_3,3,2,0,0
40,2105948,284161492_75966778593_698992,step_2,2,2,0,0
41,2105948,284161492_75966778593_698992,step_1,1,1,0,0
42,2105948,284161492_75966778593_698992,start,0,1,0,0
43,438567,711884648_43943594307_585328,step_1,1,1,0,0
44,438567,711884648_43943594307_585328,start,0,3,0,0
45,2519971,428599802_30402877972_724989,confirm,4,2,1,2
46,9814849,912594178_11107066778_946103,confirm,4,1,1,1
47,9814849,912594178_11107066778_946103,step_3,3,1,0,0
48,9814849,912594178_11107066778_946103,step_2,2,1,0,0
49,9814849,912594178_11107066778_946103,step_1,1,1,0,0
50,9814849,912594178_11107066778_946103,start,0,2,0,0
51,5407849,370129048_76114952835_698370,confirm,4,1,1,1
52,5407849,370129048_76114952835_698370,step_3,3,1,0,0
53,5407849,370129048_76114952835_698370,step_2,2,1,0,0
54,5407849,370129048_76114952835_698370,step_1,1,2,0,0
55,5407849,370129048_76114952835_698370,start,0,3,0,0
56,7286739,841652923_56424358687_156740,step_3,3,1,0,0
57,7286739,841652923_56424358687_156740,step_2,2,2,0,0
58,7286739,841652923_56424358687_156740,step_1,1,5,0,0
59,7286739,841652923_56424358687_156740,start,0,4,0,0

In [126]:
import pandas as pd

# Assume your two DataFrames are called df_variation and df_visits

# Merge the two DataFrames on 'visit_id'
merged_df = pd.merge(df_digital_footprint, df_variation, on='client_id', how='left')

# Optional: Check the result
print(merged_df.head())

             date_time  client_id            visitor_id  \
0  2017-04-17 15:27:07    9988021  580560515_7732621733
1  2017-04-17 15:26:51    9988021  580560515_7732621733
2  2017-04-17 15:19:22    9988021  580560515_7732621733
3  2017-04-17 15:19:13    9988021  580560515_7732621733
4  2017-04-17 15:18:04    9988021  580560515_7732621733

                       visit_id  process_id process_step Variation
0  781255054_21935453173_531117           3       step_3      Test
1  781255054_21935453173_531117           2       step_2      Test
2  781255054_21935453173_531117           3       step_3      Test
3  781255054_21935453173_531117           2       step_2      Test
4  781255054_21935453173_531117           3       step_3      Test

In [127]:
merged_df.head(60)

,date_time,client_id,visitor_id,visit_id,process_id,process_step,Variation
0,2017-04-17 15:27:07,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3,Test
1,2017-04-17 15:26:51,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2,Test
2,2017-04-17 15:19:22,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3,Test
3,2017-04-17 15:19:13,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2,Test
4,2017-04-17 15:18:04,9988021,580560515_7732621733,781255054_21935453173_531117,3,step_3,Test
5,2017-04-17 15:17:15,9988021,580560515_7732621733,781255054_21935453173_531117,2,step_2,Test
6,2017-04-17 15:17:01,9988021,580560515_7732621733,781255054_21935453173_531117,1,step_1,Test
7,2017-04-17 15:16:22,9988021,580560515_7732621733,781255054_21935453173_531117,0,start,Test
8,2017-04-05 13:10:05,8320017,39393514_33118319366,960651974_70596002104_312201,4,confirm,Test
9,2017-04-05 13:09:43,8320017,39393514_33118319366,960651974_70596002104_312201,3,step_3,Test
10,2017-04-05 13:08:40,8320017,39393514_33118319366,960651974_70596002104_312201,2,step_2,Test
11,2017-04-05 13:08:24,8320017,39393514_33118319366,960651974_70596002104_312201,1,step_1,Test
12,2017-04-05 13:08:06,8320017,39393514_33118319366,960651974_70596002104_312201,0,start,Test
13,2017-04-05 12:29:03,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm,Control
14,2017-04-05 12:29:01,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm,Control
15,2017-04-05 12:28:52,4033851,762728880_76361333336,949661017_22392791362_127391,4,confirm,Control
16,2017-04-05 12:26:08,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3,Control
17,2017-04-05 12:24:43,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2,Control
18,2017-04-05 12:24:12,4033851,762728880_76361333336,949661017_22392791362_127391,1,step_1,Control
19,2017-04-05 12:24:04,4033851,762728880_76361333336,949661017_22392791362_127391,0,start,Control
20,2017-04-05 12:10:26,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2,Control
21,2017-04-05 12:10:26,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3,Control
22,2017-04-05 12:10:25,4033851,762728880_76361333336,949661017_22392791362_127391,2,step_2,Control
23,2017-04-05 12:10:25,4033851,762728880_76361333336,949661017_22392791362_127391,3,step_3,Control
24,2017-04-17 12:02:42,1982004,618934751_10082078917,132494692_73738638511_70823,4,confirm,Test
25,2017-04-17 12:01:09,1982004,618934751_10082078917,132494692_73738638511_70823,3,step_3,Test
26,2017-04-17 12:00:01,1982004,618934751_10082078917,132494692_73738638511_70823,2,step_2,Test
27,2017-04-17 11:59:46,1982004,618934751_10082078917,132494692_73738638511_70823,1,step_1,Test
28,2017-04-17 11:59:42,1982004,618934751_10082078917,132494692_73738638511_70823,0,start,Test
29,2017-04-17 11:16:28,9294070,489274391_63794562906,116640698_27328181095_188045,0,start,Control
30,2017-04-17 11:16:13,9294070,489274391_63794562906,116640698_27328181095_188045,0,start,Control
31,2017-04-16 13:24:45,9466803,97277031_5793723360,812185460_4263902139_352107,0,start,Test
32,2017-04-16 13:24:16,9466803,97277031_5793723360,812185460_4263902139_352107,2,step_2,Test
33,2017-04-16 13:24:07,9466803,97277031_5793723360,812185460_4263902139_352107,1,step_1,Test
34,2017-04-16 13:24:05,9466803,97277031_5793723360,812185460_4263902139_352107,0,start,Test
35,2017-04-16 13:21:58,9466803,97277031_5793723360,812185460_4263902139_352107,1,step_1,Test
36,2017-04-16 13:21:51,9466803,97277031_5793723360,812185460_4263902139_352107,0,start,Test
37,2017-04-04 18:41:44,3170143,837774974_91015515080,758001412_25057963943_219559,4,confirm,Test
38,2017-04-04 18:41:03,3170143,837774974_91015515080,758001412_25057963943_219559,3,step_3,Test
39,2017-04-04 18:38:22,3170143,837774974_91015515080,758001412_25057963943_219559,2,step_2,Test
40,2017-04-04 18:38:14,3170143,837774974_91015515080,758001412_25057963943_219559,1,step_1,Test
41,2017-04-04 18:38:02,3170143,837774974_91015515080,758001412_25057963943_219559,0,start,Test
42,2017-04-04 17:38:39,6651403,387438258_49845138949,754106292_61370647593_160929,4,confirm,Control
43,2017-04-04 17:34:03,6651403,387438258_49845138949,754106292_61370647593_160929,3,step_3,Control
44,2017-04-04 17:33:55,6651403,387438258_49845138949,754106292_61370647593_160929,2,step_2,Control
45,2017-04-04 17:31:32,6651403,387438258_49845138949,754106292_61370647593_160929,3,step_3,Control
46,2017-04-04 17:28:44,6651403,387438258_49845138949,754106292_61370647593_160929,2,step_2,Control
47,2017-04-04 17:28:35,6651403,387438258_49845138949,754106292_61370647593_160929,1,step_1,Control
48,2017-04-04 17:28:18,6651403,387438258_49845138949,754106292_61370647593_160929,0,start,Control
49,2017-04-05 14:52:34,5887227,448202785_26003228044,458489157_53226123692_778999,4,confirm,Test
50,2017-04-05 14:50:41,5887227,448202785_26003228044,458489157_53226123692_778999,3,step_3,Test
51,2017-04-05 14:49:03,5887227,448202785_26003228044,458489157_53226123692_778999,2,step_2,Test
52,2017-04-05 14:47:36,5887227,448202785_26003228044,458489157_53226123692_778999,1,step_1,Test
53,2017-04-05 14:46:57,5887227,448202785_26003228044,458489157_53226123692_778999,0,start,Test
54,2017-04-05 14:45:43,5887227,448202785_26003228044,458489157_53226123692_778999,0,start,Test
55,2017-04-05 14:45:14,5887227,448202785_26003228044,458489157_53226123692_778999,0,start,Test
56,2017-04-05 14:04:56,2105948,111894218_79248359000,284161492_75966778593_698992,4,confirm,Control
57,2017-04-05 14:00:00,2105948,111894218_79248359000,284161492_75966778593_698992,3,step_3,Control
58,2017-04-05 13:59:46,2105948,111894218_79248359000,284161492_75966778593_698992,2,step_2,Control
59,2017-04-05 13:58:32,2105948,111894218_79248359000,284161492_75966778593_698992,3,step_3,Control

In [128]:
import pandas as pd

# Ensure 'date_time' is in datetime format
merged_df['date_time'] = pd.to_datetime(merged_df['date_time'])

# Sort the DataFrame to ensure chronological order
merged_df = merged_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

# Calculate time difference to the next step in seconds
merged_df['time_spent_seconds'] = (
    merged_df.groupby(['client_id', 'visit_id'])['date_time']
    .shift(-1)
    .subtract(merged_df['date_time'])
    .dt.total_seconds()
)

# Drop rows with no subsequent step (NaN time_spent_seconds)
merged_df = merged_df.dropna(subset=['time_spent_seconds'])

# Keep only rows with non-negative time spent
merged_df = merged_df[merged_df['time_spent_seconds'] >= 0]

In [129]:
merged_df

,date_time,client_id,visitor_id,visit_id,process_id,process_step,Variation,time_spent_seconds
283823,2017-04-12 20:19:36,169,201385055_71273495308,749567106_99161211863_557568,0,start,NaN,9.0
283822,2017-04-12 20:19:45,169,201385055_71273495308,749567106_99161211863_557568,1,step_1,NaN,46.0
283821,2017-04-12 20:20:31,169,201385055_71273495308,749567106_99161211863_557568,2,step_2,NaN,94.0
283820,2017-04-12 20:22:05,169,201385055_71273495308,749567106_99161211863_557568,3,step_3,NaN,64.0
620520,2017-06-01 07:26:55,336,64757908_3400128256,649044751_80905125055_554468,0,start,NaN,948.0
...,...,...,...,...,...,...,...,...
640077,2017-06-01 22:40:01,9999875,738878760_1556639849,931268933_219402947_599432,0,start,NaN,7.0
640076,2017-06-01 22:40:08,9999875,738878760_1556639849,931268933_219402947_599432,1,step_1,NaN,80.0
640075,2017-06-01 22:41:28,9999875,738878760_1556639849,931268933_219402947_599432,1,step_1,NaN,19.0
640074,2017-06-01 22:41:47,9999875,738878760_1556639849,931268933_219402947_599432,2,step_2,NaN,191.0
640073,2017-06-01 22:44:58,9999875,738878760_1556639849,931268933_219402947_599432,3,step_3,NaN,221.0

In [130]:
merged_df.head(60)

,date_time,client_id,visitor_id,visit_id,process_id,process_step,Variation,time_spent_seconds
283823,2017-04-12 20:19:36,169,201385055_71273495308,749567106_99161211863_557568,0,start,NaN,9.0
283822,2017-04-12 20:19:45,169,201385055_71273495308,749567106_99161211863_557568,1,step_1,NaN,46.0
283821,2017-04-12 20:20:31,169,201385055_71273495308,749567106_99161211863_557568,2,step_2,NaN,94.0
283820,2017-04-12 20:22:05,169,201385055_71273495308,749567106_99161211863_557568,3,step_3,NaN,64.0
620520,2017-06-01 07:26:55,336,64757908_3400128256,649044751_80905125055_554468,0,start,NaN,948.0
439053,2017-06-17 10:03:29,546,475037402_89828530214,731811517_9330176838_94847,0,start,NaN,10.0
439052,2017-06-17 10:03:39,546,475037402_89828530214,731811517_9330176838_94847,1,step_1,NaN,13.0
439051,2017-06-17 10:03:52,546,475037402_89828530214,731811517_9330176838_94847,2,step_2,NaN,87.0
439050,2017-06-17 10:05:19,546,475037402_89828530214,731811517_9330176838_94847,3,step_3,NaN,23.0
71583,2017-04-15 12:57:56,555,402506806_56087378777,637149525_38041617439_716659,0,start,Test,7.0
71582,2017-04-15 12:58:03,555,402506806_56087378777,637149525_38041617439_716659,1,step_1,Test,32.0
71581,2017-04-15 12:58:35,555,402506806_56087378777,637149525_38041617439_716659,2,step_2,Test,99.0
71580,2017-04-15 13:00:14,555,402506806_56087378777,637149525_38041617439_716659,3,step_3,Test,20.0
137375,2017-04-12 15:41:28,647,66758770_53988066587,40369564_40101682850_311847,0,start,Test,7.0
137374,2017-04-12 15:41:35,647,66758770_53988066587,40369564_40101682850_311847,1,step_1,Test,18.0
137373,2017-04-12 15:41:53,647,66758770_53988066587,40369564_40101682850_311847,2,step_2,Test,189.0
137372,2017-04-12 15:45:02,647,66758770_53988066587,40369564_40101682850_311847,3,step_3,Test,163.0
244053,2017-04-19 14:50:10,722,919259913_64837298108,984487154_55831795985_521110,0,start,NaN,10.0
244052,2017-04-19 14:50:20,722,919259913_64837298108,984487154_55831795985_521110,1,step_1,NaN,36.0
244051,2017-04-19 14:50:56,722,919259913_64837298108,984487154_55831795985_521110,2,step_2,NaN,16.0
244050,2017-04-19 14:51:12,722,919259913_64837298108,984487154_55831795985_521110,1,step_1,NaN,304.0
244049,2017-04-19 14:56:16,722,919259913_64837298108,984487154_55831795985_521110,0,start,NaN,2.0
244048,2017-04-19 14:56:18,722,919259913_64837298108,984487154_55831795985_521110,1,step_1,NaN,19.0
244047,2017-04-19 14:56:37,722,919259913_64837298108,984487154_55831795985_521110,2,step_2,NaN,50.0
244046,2017-04-19 14:57:27,722,919259913_64837298108,984487154_55831795985_521110,3,step_3,NaN,162.0
440223,2017-06-01 11:00:22,786,439747392_30293505155,640294664_79662229470_499394,0,start,NaN,58.0
440222,2017-06-01 11:01:20,786,439747392_30293505155,640294664_79662229470_499394,0,start,NaN,6.0
440221,2017-06-01 11:01:26,786,439747392_30293505155,640294664_79662229470_499394,1,step_1,NaN,122.0
440220,2017-06-01 11:03:28,786,439747392_30293505155,640294664_79662229470_499394,2,step_2,NaN,40.0
440219,2017-06-01 11:04:08,786,439747392_30293505155,640294664_79662229470_499394,3,step_3,NaN,86.0
587148,2017-06-15 19:09:13,805,831412807_82548325803,451173196_11661340552_563345,0,start,NaN,6.0
587147,2017-06-15 19:09:19,805,831412807_82548325803,451173196_11661340552_563345,1,step_1,NaN,7.0
587146,2017-06-15 19:09:26,805,831412807_82548325803,451173196_11661340552_563345,2,step_2,NaN,115.0
587145,2017-06-15 19:11:21,805,831412807_82548325803,451173196_11661340552_563345,2,step_2,NaN,7.0
587206,2017-06-17 19:23:17,805,831412807_82548325803,72221519_52513154978_430287,0,start,NaN,3.0
587138,2017-06-08 01:10:29,805,831412807_82548325803,905546080_75813398358_250101,0,start,NaN,80.0
499877,2017-06-16 10:38:38,832,645971208_10952400740,704999523_65579948030_431837,0,start,NaN,9.0
499876,2017-06-16 10:38:47,832,645971208_10952400740,704999523_65579948030_431837,1,step_1,NaN,32.0
499875,2017-06-16 10:39:19,832,645971208_10952400740,704999523_65579948030_431837,2,step_2,NaN,11.0
499874,2017-06-16 10:39:30,832,645971208_10952400740,704999523_65579948030_431837,1,step_1,NaN,19.0
499873,2017-06-16 10:39:49,832,645971208_10952400740,704999523_65579948030_431837,2,step_2,NaN,29.0
499872,2017-06-16 10:40:18,832,645971208_10952400740,704999523_65579948030_431837,3,step_3,NaN,34.0
62247,2017-04-18 02:36:30,934,810392784_45004760546,7076463_57954418406_971348,0,start,Test,32.0
62246,2017-04-18 02:37:02,934,810392784_45004760546,7076463_57954418406_971348,0,start,Test,82.0
62245,2017-04-18 02:38:24,934,810392784_45004760546,7076463_57954418406_971348,0,start,Test,28.0
131606,2017-04-08 18:51:28,1028,42237450_62128060588,557292053_87239438319_391157,0,start,Control,49.0
131605,2017-04-08 18:52:17,1028,42237450_62128060588,557292053_87239438319_391157,1,step_1,Control,63.0
131604,2017-04-08 18:53:20,1028,42237450_62128060588,557292053_87239438319_391157,1,step_1,Control,9.0
131603,2017-04-08 18:53:29,1028,42237450_62128060588,557292053_87239438319_391157,2,step_2,Control,275.0
131602,2017-04-08 18:58:04,1028,42237450_62128060588,557292053_87239438319_391157,3,step_3,Control,111.0
131601,2017-04-08 18:59:55,1028,42237450_62128060588,557292053_87239438319_391157,1,step_1,Control,20.0
131600,2017-04-08 19:00:15,1028,42237450_62128060588,557292053_87239438319_391157,1,step_1,Control,2.0
131599,2017-04-08 19:00:17,1028,42237450_62128060588,557292053_87239438319_391157,2,step_2,Control,9.0
699442,2017-06-02 01:00:05,1039,637213403_33482244512,621771101_68048173682_933803,0,start,NaN,15.0
699441,2017-06-02 01:00:20,1039,637213403_33482244512,621771101_68048173682_933803,1,step_1,NaN,42.0
699440,2017-06-02 01:01:02,1039,637213403_33482244512,621771101_68048173682_933803,2,step_2,NaN,102.0
699439,2017-06-02 01:02:44,1039,637213403_33482244512,621771101_68048173682_933803,3,step_3,NaN,48.0
236054,2017-04-08 18:05:02,1186,446844663_31615102958,795373564_99931517312_810896,0,start,Control,11.0
236053,2017-04-08 18:05:13,1186,446844663_31615102958,795373564_99931517312_810896,1,step_1,Control,11.0
13269,2017-04-05 20:15:26,1195,766842522_69992551638,393817425_39015278493_996341,0,start,Control,33.0

In [131]:
import pandas as pd

# Convert date_time to datetime if not already
merged_df['date_time'] = pd.to_datetime(merged_df['date_time'])

# Sort by visit_id and date_time to ensure order of steps is correct
df_sorted = merged_df.sort_values(by=['visit_id', 'date_time'])

# Add an "error" column and default to False
df_sorted['error'] = False

# Group by visit_id
for visit_id, group in df_sorted.groupby('visit_id'):
    prev_process_id = -1
    for i in group.index:
        current_process_id = df_sorted.loc[i, 'process_id']
        if current_process_id < prev_process_id:
            df_sorted.loc[i, 'error'] = True  # Flag error
        prev_process_id = current_process_id

In [132]:
df_sorted.head(60)

,date_time,client_id,visitor_id,visit_id,process_id,process_step,Variation,time_spent_seconds,error
107971,2017-04-26 13:22:17,3561384,451664975_1722933822,100012776_37918976071_457913,4,confirm,Test,52.0,False
443991,2017-06-04 01:07:29,9056452,306992881_89423906595,1000165_4190026492_760066,0,start,NaN,3.0,False
443990,2017-06-04 01:07:32,9056452,306992881_89423906595,1000165_4190026492_760066,1,step_1,NaN,24.0,False
443989,2017-06-04 01:07:56,9056452,306992881_89423906595,1000165_4190026492_760066,2,step_2,NaN,77.0,False
443988,2017-06-04 01:09:13,9056452,306992881_89423906595,1000165_4190026492_760066,3,step_3,NaN,37.0,False
239141,2017-04-09 16:20:56,7338123,612065484_94198474375,100019538_17884295066_43909,0,start,Test,16.0,False
239140,2017-04-09 16:21:12,7338123,612065484_94198474375,100019538_17884295066_43909,1,step_1,Test,9.0,False
239139,2017-04-09 16:21:21,7338123,612065484_94198474375,100019538_17884295066_43909,2,step_2,Test,14.0,False
239138,2017-04-09 16:21:35,7338123,612065484_94198474375,100019538_17884295066_43909,1,step_1,Test,6.0,True
239137,2017-04-09 16:21:41,7338123,612065484_94198474375,100019538_17884295066_43909,1,step_1,Test,4.0,False
239136,2017-04-09 16:21:45,7338123,612065484_94198474375,100019538_17884295066_43909,0,start,Test,14.0,True
239135,2017-04-09 16:21:59,7338123,612065484_94198474375,100019538_17884295066_43909,0,start,Test,5.0,False
239134,2017-04-09 16:22:04,7338123,612065484_94198474375,100019538_17884295066_43909,1,step_1,Test,4.0,False
239133,2017-04-09 16:22:08,7338123,612065484_94198474375,100019538_17884295066_43909,2,step_2,Test,113.0,False
239132,2017-04-09 16:24:01,7338123,612065484_94198474375,100019538_17884295066_43909,3,step_3,Test,57.0,False
350401,2017-05-23 20:44:01,2478628,754122351_18568832435,100022086_87870757897_149620,0,start,Test,22.0,False
350400,2017-05-23 20:44:23,2478628,754122351_18568832435,100022086_87870757897_149620,1,step_1,Test,45.0,False
350399,2017-05-23 20:45:08,2478628,754122351_18568832435,100022086_87870757897_149620,2,step_2,Test,53.0,False
350398,2017-05-23 20:46:01,2478628,754122351_18568832435,100022086_87870757897_149620,3,step_3,Test,60.0,False
595712,2017-06-06 14:04:44,5303781,817384618_23455993918,100034012_10293842356_627828,0,start,NaN,7.0,False
595711,2017-06-06 14:04:51,5303781,817384618_23455993918,100034012_10293842356_627828,1,step_1,NaN,84.0,False
595710,2017-06-06 14:06:15,5303781,817384618_23455993918,100034012_10293842356_627828,0,start,NaN,7.0,True
595709,2017-06-06 14:06:22,5303781,817384618_23455993918,100034012_10293842356_627828,1,step_1,NaN,5.0,False
595708,2017-06-06 14:06:27,5303781,817384618_23455993918,100034012_10293842356_627828,2,step_2,NaN,91.0,False
595707,2017-06-06 14:07:58,5303781,817384618_23455993918,100034012_10293842356_627828,3,step_3,NaN,31.0,False
27351,2017-04-14 16:41:51,5623007,700426174_33289797318,100037962_47432393712_705583,0,start,Control,85.0,False
27350,2017-04-14 16:43:16,5623007,700426174_33289797318,100037962_47432393712_705583,0,start,Control,39.0,False
27349,2017-04-14 16:43:55,5623007,700426174_33289797318,100037962_47432393712_705583,1,step_1,Control,8.0,False
1609,2017-04-09 11:30:10,4823947,611052344_43146965242,100057941_88477660212_944512,0,start,Control,30.0,False
1608,2017-04-09 11:30:40,4823947,611052344_43146965242,100057941_88477660212_944512,1,step_1,Control,70.0,False
1607,2017-04-09 11:31:50,4823947,611052344_43146965242,100057941_88477660212_944512,2,step_2,Control,64.0,False
1606,2017-04-09 11:32:54,4823947,611052344_43146965242,100057941_88477660212_944512,3,step_3,Control,27.0,False
1605,2017-04-09 11:33:21,4823947,611052344_43146965242,100057941_88477660212_944512,1,step_1,Control,37.0,True
1604,2017-04-09 11:33:58,4823947,611052344_43146965242,100057941_88477660212_944512,2,step_2,Control,26.0,False
320955,2017-04-15 14:27:50,2848373,66514700_31923440179,100065579_58979991824_496649,0,start,NaN,227.0,False
320954,2017-04-15 14:31:37,2848373,66514700_31923440179,100065579_58979991824_496649,1,step_1,NaN,44.0,False
320953,2017-04-15 14:32:21,2848373,66514700_31923440179,100065579_58979991824_496649,2,step_2,NaN,24.0,False
320952,2017-04-15 14:32:45,2848373,66514700_31923440179,100065579_58979991824_496649,3,step_3,NaN,43.0,False
241109,2017-04-13 11:50:18,3479519,194422203_56127484794,10006594_66157970412_679648,0,start,Control,10.0,False
241108,2017-04-13 11:50:28,3479519,194422203_56127484794,10006594_66157970412_679648,1,step_1,Control,10.0,False
241107,2017-04-13 11:50:38,3479519,194422203_56127484794,10006594_66157970412_679648,2,step_2,Control,84.0,False
241106,2017-04-13 11:52:02,3479519,194422203_56127484794,10006594_66157970412_679648,3,step_3,Control,249.0,False
241105,2017-04-13 11:56:11,3479519,194422203_56127484794,10006594_66157970412_679648,3,step_3,Control,1.0,False
241103,2017-04-13 11:56:12,3479519,194422203_56127484794,10006594_66157970412_679648,4,confirm,Control,0.0,False
570012,2017-06-03 19:55:37,8413245,61752232_53515470198,100075378_35009209505_135399,0,start,NaN,47.0,False
570011,2017-06-03 19:56:24,8413245,61752232_53515470198,100075378_35009209505_135399,1,step_1,NaN,49.0,False
570010,2017-06-03 19:57:13,8413245,61752232_53515470198,100075378_35009209505_135399,2,step_2,NaN,33.0,False
570009,2017-06-03 19:57:46,8413245,61752232_53515470198,100075378_35009209505_135399,1,step_1,NaN,4.0,True
570008,2017-06-03 19:57:50,8413245,61752232_53515470198,100075378_35009209505_135399,2,step_2,NaN,53.0,False
570007,2017-06-03 19:58:43,8413245,61752232_53515470198,100075378_35009209505_135399,3,step_3,NaN,1008.0,False
594413,2017-05-18 07:51:32,5477656,164180384_39691984082,10007589_47780784567_391490,0,start,Control,167.0,False
594412,2017-05-18 07:54:19,5477656,164180384_39691984082,10007589_47780784567_391490,1,step_1,Control,46.0,False
594411,2017-05-18 07:55:05,5477656,164180384_39691984082,10007589_47780784567_391490,2,step_2,Control,181.0,False
594410,2017-05-18 07:58:06,5477656,164180384_39691984082,10007589_47780784567_391490,3,step_3,Control,327.0,False
366100,2017-05-22 18:15:01,8306812,987870350_90903222476,100096068_8301717872_987164,0,start,Control,13.0,False
351976,2017-06-03 16:16:49,529153,358679109_67662330057,100100247_25668133240_318122,0,start,NaN,7.0,False
351975,2017-06-03 16:16:56,529153,358679109_67662330057,100100247_25668133240_318122,1,step_1,NaN,15.0,False
351974,2017-06-03 16:17:11,529153,358679109_67662330057,100100247_25668133240_318122,2,step_2,NaN,196.0,False
351973,2017-06-03 16:20:27,529153,358679109_67662330057,100100247_25668133240_318122,3,step_3,NaN,73.0,False
120594,2017-04-10 06:30:17,9852814,445403329_35219697304,100105975_18174738494_196339,0,start,Control,13.0,False

In [133]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 585529 entries, 107971 to 532986
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date_time           585529 non-null  datetime64[ns]
 1   client_id           585529 non-null  int64
 2   visitor_id          585529 non-null  object
 3   visit_id            585529 non-null  object
 4   process_id          585529 non-null  int64
 5   process_step        585529 non-null  object
 6   Variation           247788 non-null  object
 7   time_spent_seconds  585529 non-null  float64
 8   error               585529 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 56.9+ MB

In [135]:
#df_sorted.drop(columns=['time_spent'])

In [138]:
from sqlalchemy import text
''' 

with engine.connect()as connection:
  # Insert into table, creating or appending as needed
    df_sorted.to_sql(name='client_interactions', con=engine, if_exists='replace', index=False)
'''

" \n\nwith engine.connect()as connection:\n  # Insert into table, creating or appending as needed\n    df_sorted.to_sql(name='client_interactions', con=engine, if_exists='replace', index=False)\n"